<div class="container">

    <div class="jumbotron card card-image"
        style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
        <div class="text-white text-center py-5 px-4">
            <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Ocean Photography drive the
                        Passion</strong></h2>
                <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                    laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                    sed qui, dolorum!
                </p>
                <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <div class=col-3>

                <!-- Card -->
                <div class="card">

                    <!-- Card image -->
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                        alt="Card image cap" width= 100px>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Card title</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>

                    </div>

                </div>
                <!-- Card -->
            </div>



            <div class=col-3>

                <!-- Card -->
                <div class="card">

                    <!-- Card image -->
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/44.jpg"
                        alt="Card image cap">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Card title</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>

                    </div>

                </div>
                <!-- Card -->
            </div>




            <div class=col-3>

                <!-- Card -->
                <div class="card">

                    <!-- Card image -->
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/45.jpg"
                        alt="Card image cap">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Card title</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>

                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class=col-3>

                <!-- Card -->
                <div class="card">

                    <!-- Card image -->
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/42.jpg"
                        alt="Card image cap">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Card title</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>

                    </div>

                </div>
                <!-- Card -->
            </div>

        </div>
    </div>
</div>